<nav class="navbar navbar-expand-lg bg-body-tertiary" id="head">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="container">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link <% if (active === "main") {%>active<%}%>" aria-current="page" href="/">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <% if(active === "patients") {%>active<%}%>" href="/patients">Пациенты</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link <% if(active === "predict") {%>active<%}%>" href="/predict">Прогнозирование</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</nav>