<%- include("../partials/head.ejs") %>
<body class="d-flex flex-column min-vh-100">
    <%- include("../partials/menu.ejs") %>
    <div class="container">
        <h2 class="mt-3"><%=title%></h2>
        <a href="/patients"> < Назад</a>
        <form class="gy-5 mt-3 mb-3" method="POST" action="<%= isNewRecord === true ? '/patients/create' : '/patients/update'%>">
            <% if (isNewRecord === false) { %> <input type="hidden" name="id" value="<%= patient.id %>"> <% } %>
            <div class="mb-3">
              <label for="fio" class="form-label">Фамилия Имя Отчество</label>
              <input type="text" class="form-control" name="fio" value="<%= !isNewRecord ? patient.fio : ''%>">
            </div>
            <div class="mb-3">
                <label for="age" class="form-label">Возраст</label>
                <input type="number" class="form-control" name="age" value="<%= !isNewRecord ? patient.age : ''%>">
              </div>
            <div class="mb-3">
              <label for="sex" class="form-label">Пол</label>
              <select class="form-select" name="sex">
                <option <% if (isNewRecord || patient.sex == '') { %>selected<%} %>>Выберите пол </option>
                <option <% if (!isNewRecord && patient.sex == 1) { %>selected<% }%> value="1">Мужской</option>
                <option <% if (!isNewRecord && patient.sex == 0) { %>selected<% }%> value="0">Женский</option>
              </select>
            </div>
            <div class="mb-3">
                <label for="pain_type" class="form-label">Тип боли в груди</label>
                <select class="form-select" name="pain_type">
                    <option <% if (isNewRecord || patient.pain_type == '') { %>selected<%} %>>Выберите тип боли</option>
                    <option <% if (!isNewRecord && patient.pain_type == 3) { %>selected<% }%> value="3">TA</option>
                    <option <% if (!isNewRecord && patient.pain_type == 2) { %>selected<% }%> value="2">ATA</option>
                    <option <% if (!isNewRecord && patient.pain_type == 1) { %>selected<% }%> value="1">NAP</option>
                    <option <% if (!isNewRecord && patient.pain_type == 0) { %>selected<% }%> value="0">ASY</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="resting_bp" class="form-label">Кровяное давление (mm/Hg)</label>
                <input type="text" class="form-control" name="resting_bp" value="<%= !isNewRecord ? patient.resting_bp : ''%>">
            </div>
            <div class="mb-3">
                <label for="cholesterol" class="form-label">Холестерин</label>
                <input type="number" class="form-control" name="cholesterol" value="<%= !isNewRecord ? patient.cholesterol : ''%>">
            </div>
            <div class="mb-3">
                <label for="fasting_bs" class="form-label">Уровень сахара</label>
                <input type="number" class="form-control" name="fasting_bs" value="<%= !isNewRecord ? patient.fasting_bs : ''%>">
            </div>
            <div class="mb-3">
                <label for="resting_ecg" class="form-label">Результаты ЭКГ в покое</label>
                <select class="form-select" name="resting_ecg">
                    <option <% if (isNewRecord || patient.resting_ecg == '') { %>selected<%} %>>Выберите результаты ЭКГ</option>
                    <option <% if (!isNewRecord && patient.resting_ecg == 2) { %>selected<% }%> value="2">В норме</option>
                    <option <% if (!isNewRecord && patient.resting_ecg == 1) { %>selected<% }%> value="1">ST</option>
                    <option <% if (!isNewRecord && patient.resting_ecg == 0) { %>selected<% }%> value="0">LVH</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="max_hr" class="form-label">Максимальная ЧСС</label>
                <input type="number" class="form-control" name="max_hr" value="<%= !isNewRecord ? patient.max_hr : ''%>">
            </div>
            <div class="mb-3">
                <label for="exercise_angina" class="form-label">Стенокардия под физ. нагрузками</label>
                <select class="form-select" name="exercise_angina">
                    <option <% if (isNewRecord || patient.exercise_angina == '') { %>selected<%} %>>Выберите наличие стенокардии под физ. нагрузками</option>
                    <option <% if (!isNewRecord && patient.exercise_angina == 1) { %>selected<% }%> value="1">Да</option>
                    <option <% if (!isNewRecord && patient.exercise_angina == 0) { %>selected<% }%> value="0">Нет</option>
                  </select>
            </div>
            <div class="mb-3">
                <label for="heart_disease" class="form-label">Наличие заболеваний</label>
                <select class="form-select" name="heart_disease">
                    <option  value="" <% if (isNewRecord || patient.heart_disease == '') { %>selected<%} %>>Выберите наличие заболевания</option>
                    <option <% if (!isNewRecord && patient.heart_disease == 1) { %>selected<% }%> value="1">Да</option>
                    <option <% if (!isNewRecord && patient.heart_disease == 0) { %>selected<% }%> value="0">Нет</option>
                  </select>
            </div>

            <button type="submit" class="btn btn-primary"><%= isNewRecord ? "Добавить" : "Обновить" %></button>
          </form>
    </div>
    <%- include("../partials/footer.ejs") %>
</body>
</html>