<%- include("../partials/head.ejs") %>
<body class="d-flex flex-column min-vh-100">
    <%- include("../partials/menu.ejs") %>
    <div class="container">
        <h2 class="mt-3"><%=title%></h2>
        <a class="btn btn-primary mt-3" role="button" href="/patients/create">Добавить пациента</a>
        <table class="table table-striped table-bordered mb-3 mt-3">
            <thead>
              <tr>
                <th class="col-1" scope="col">Действия</th>
                <th scope="col">#</th>
                <th scope="col">ФИО</th>
                <th scope="col">Возраст</th>
                <th scope="col">Пол</th>
                <th scope="col">Наличие ССЗ</th>
              </tr>
            </thead>
            <tbody>
            <% for (var i = 0; i < patients.length; i++) { %>
              <tr>
                <td class="col-1">
                  <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Действие
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/patients/update/<%=patients[i].id %>">Обновить</a></li>
                      <li><a class="dropdown-item" href="/patients/info/<%=patients[i].id %>">Подробнее</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/patients/delete/<%=patients[i].id %>">Удалить</a></li>
                    </ul>
                  </div>
                </td>
                <td><%= patients[i].id %></td>
                <td><%= patients[i].fio %></td>
                <td><%= patients[i].age %></td>
                <td><%= patients[i].sex === 1 ? 'Мужской' : 'Женский' %></td>
                <td>
                  <% if (patients[i].heart_disease === 0) { %>Нет<%}%>
                  <% if (patients[i].heart_disease == 1) { %>Да<%}%>
                  <% if (patients[i].heart_disease === '') {%>(Не задано)<%}%>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
    </div>
    <%- include("../partials/footer.ejs") %>
</body>
</html>