<%- include("../partials/head.ejs") %>
<body class="d-flex flex-column min-vh-100">
    <%- include("../partials/menu.ejs") %>
    <div class="container">
        <h2><%= title + " о пациенте " + patient.id %></h2>
        <a href="/patients"> < Назад</a>
        <div class="alert alert-info" role="alert">
            Прогнозирование заболевания будет работать при интеграции с данной моделью
            <a href="https://drive.google.com/file/d/1fheW-PbPJGQnfKXCJkCBn2ekYi0uQKjz/view?usp=sharing">Goggle Collab</a>
        </div>
        <table class="table table-bordered mt-3 mb-3">
            <tbody>
              <tr>
                <th scope="row">ID</th>
                <td><%= patient.id %></td>
              </tr>
              <tr>
                <th scope="row">ФИО</th>
                <td><%= patient.fio %></td>
              </tr>
              <tr>
                <th scope="row">Возраст</th>
                <td><%= patient.age %></td>
              </tr>
              <tr>
                <th scope="row">Пол</th>
                <td><%= map['sex'][patient.sex] %></td>
              </tr>
              <tr>
                <th scope="row">Тип боли в груди</th>
                <td><%= map['resting_ecg'][patient.pain_type] %></td>
              </tr>
              <tr>
                <th scope="row">Кровяное давление (mm/Hg)</th>
                <td><%= patient.resting_bp %></td>
              </tr>
              <tr>
                <th scope="row">Холестерин</th>
                <td><%= patient.cholesterol %></td>
              </tr>
              <tr>
                <th scope="row">Уровень сахара</th>
                <td><%= patient.fasting_bs %></td>
              </tr>
              <tr>
                <th scope="row">Результаты ЭКГ в покое</th>
                <td><%= map['resting_ecg'][patient.resting_ecg] %></td>
              </tr>
              <tr>
                <th scope="row">Максимальная ЧСС</th>
                <td><%= patient.max_hr %></td>
              </tr>
              <tr>
                <th scope="row">Стенокардия под физ. нагрузками</th>
                <td><%= map['yes_no'][patient.exercise_angina] %></td>
              </tr>
              <tr>
                <th scope="row">Наличие заболеваний</th>
                <td><%= map['yes_no'][patient.heart_disease] %></td>
              </tr>
            </tbody>
          </table>
          <a class="btn btn-primary mt-3" role="button" href="#">Прогноз</a>
    </div>
    <%- include("../partials/footer.ejs") %>
</body>
</html>