<%- include("partials/head.ejs") %>
<body class="d-flex flex-column min-vh-100">
    <%- include("partials/menu.ejs") %>
    <div class="container">
    </div>
    <%- include("partials/footer.ejs") %>
</body>
</html>