.expert_system {
    border-radius: 10px;
    background-color: bisque;
    text-align: center;
    /* display: flex; */
    /* flex-direction: row; */
}

.selection-option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
}

.table-result {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

table {
    width: 100%;
}

td, th {
    background-color: aliceblue;
    text-align: center;
}

select {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-size: 18px;
}
