<%- include("partials/head.ejs") %>

    <body class="d-flex flex-column min-vh-100">
        <%- include("partials/menu.ejs") %>
            <div class="container">
                <h2 class="mt-3 mb-3">
                    <%=title%>
                </h2>
                <div class="alert alert-primary" role="alert">
                    ПРИМЕЧАНИЕ! Модель дерева решений разработана в лабораторной работе №7, однако еще не интегрирована
                    с текущей работой. В данной работе представлен только прототип пользовательского интерфейса.
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <h3>О предметной области</h3>
                        <p>
                            Сердечно-сосудистые заболевания (ССЗ) являются причиной смерти № 1 во всем мире, ежегодно
                            унося, по оценкам, 17,9 миллиона жизней, что составляет 31% всех смертей во всем мире.
                            Четыре из пяти смертей от сердечно-сосудистых заболеваний происходят в результате сердечных
                            приступов и инсультов, и треть этих смертей происходит преждевременно у людей в возрасте до
                            70 лет. Сердечная недостаточность является распространенным заболеванием, вызванным ССЗ, и
                            этот набор данных содержит 11 признаков, которые могут быть использованы для прогнозирования
                            возможного заболевания сердца.
                        </p>
                        <p>
                            Люди с сердечно-сосудистыми заболеваниями или с высоким сердечно-сосудистым риском (из-за
                            наличия одного или нескольких факторов риска, таких как гипертония, диабет, гиперлипидемия
                            или уже выявленное заболевание) нуждаются в раннем выявлении и лечении.
                        </p>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <h3>Признаки</h3>
                <p>
                <ul>
                    <li>Age: возраст пациента (год, числовое)</li>
                    <li>Sex: пол пациента (M: Male (мужской), F: Female (женский))</li>
                    <li>ChestPainType: тип боли в груди [TA: Typical Angina, ATA: Atypical Angina, NAP: Non-Anginal
                        Pain, * ASY: Asymptomatic]</li>
                    <li>RestingBP: давление кров в состоянии покоя [mm Hg]</li>
                    <li>Cholesterol:уровень холестерина [mm/dl]</li>
                    <li>FastingBS: уровень сахара [1: if FastingBS > 120 mg/dl, 0: otherwise]</li>
                    <li>RestingECG: результат ЭКГ в покое [Normal: Normal, ST: having ST-T wave abnormality (T wave
                        inversions and/or ST elevation or depression of > 0.05 mV), LVH: showing probable or definite
                        left ventricular hypertrophy by Estes' criteria]</li>
                    <li>MaxHR: максимальная ЧСС [Numeric value between 60 and 202]</li>
                    <li>ExerciseAngina: стенокардия вызванная физ. нагрузкой [Y: Yes, N: No]</li>
                    <li>HeartDisease: предсказываемое значение [1: heart disease, 0: Normal]</li>
                </ul>
                </p>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <h3>Изспользуемые технологии</h3>
                <p>
                    В настоящей работе используются следующие технологии с соотвествующими лицензиями.
                <ul>
                    <li>
                        <a
                            href="https://ecma-international.org/publications-and-standards/standards/ecma-262/">JavaScript</a>
                    </li>
                    <li>
                        <a href="https://nodejs.org/en">Node.js</a>
                    </li>
                    <li>
                        <a href="https://www.npmjs.com/">npm</a>
                    </li>
                    <li>
                        <a href="https://expressjs.com/">Express.js</a>
                    </li>
                </ul>
                </p>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <h3>Набор данных для обучения</h3>
                        <p>
                        <p>
                            Набор данных взят с сайта <a href="https://www.kaggle.com/">Kaggle</a>.
                        </p>
                        <p>
                            Набор данных используемый в работе: <a
                                href="https://www.kaggle.com/datasets/fedesoriano/heart-failure-prediction/data">Heart Failure
                                Prediction Dataset</a>.
                        </p>
                        <p>
                            Источник: fedesoriano. (September 2021). Heart Failure Prediction Dataset. Retrieved [Date
                            Retrieved] from https://www.kaggle.com/fedesoriano/heart-failure-prediction.
                        </p>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                    </p>
                    <h3>Планируемая модель дерева решений</h3>
                    <p class="mb-5">
                        <a href="https://drive.google.com/file/d/1fheW-PbPJGQnfKXCJkCBn2ekYi0uQKjz/view?usp=sharing">Goggle
                            Collab</a>
                    </p>
                    </div>
                </div>






            </div>
    </body>
    <%- include("partials/footer.ejs") %>

        </html>